/* ******* STYLESHEET DETAILS ********************
Date Created:   14-Sep-2012;
Last Updated:   27-May-2014;
Owner:          Parliamentary Service;
Project:        Intranet Redevelopment;
Author:         Datacom Wellington;
Comment:        Homepage only;
************************************************** */
h1 { color: #000; }  

.mainContainer { padding-top: 20px; }

/*div.primary {
	margin-right: 30px;
	width: 672px; 
}
.primary ul { margin-left: 0; }*/

.PSHomePageLayout #header {
  height: 50px;
  overflow: visible;
  background-position: 50% 0;
}
.PSHomePageLayout #header .container {
  min-height: auto;
}

.PSHomePageLayout #main {
  padding: 0;
}

.grid {
  margin-bottom: 80px;
}
.block aside {
  float: none;
  width: auto;
}
#grid1 {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  margin: 0 0 50px 0;
}
#grid1 .carousel {
  width: 80%;
  position: relative;
}
#grid1 .aside {
  width: 20%;
  background: #efefef;
}
aside .widget {
  margin-bottom: 0;
}
#grid2 {
  width: 100%;
  table-layout: fixed;
  margin: 0 0 50px 0;
}
#grid2 .block {
  width: 40%;
}
#grid2 .aside {
  width: 20%;
  border-left: solid 5px #d15a49;
}
/*.row .grid .widget {
  width: 50%;
}*/

#grid3 {
  background: #ddd;
  margin: 0;
}

.widget h2 {
  font: 2em/1.2 OpenSansLight, sans-serif;
  margin: 0 0 20px;
}

.block h3 {
  margin: 0 0 5px;
}

#grid3 .block .widget:first-child {
  margin-bottom: 30px;
}

/* News Carousel */

/*div.carousel { 
	float: left; 
	height: 300px;
	padding: 0;
	position: relative;
	width: 665px;
  width: 80%;
}
.carousel .button { 
	float: left; 
	margin-left: 20px;
}

.feature {
	cursor: url(/_layouts/15/pause.cur), pointer !important;
    height: 200px;
	overflow: hidden;
}
.feature img {
	float: left;
	margin-right: 20px;
	max-width: 665px;
}
.feature h2,
.feature p { margin: 0; }

.feature a {
	float: left;
	width: 100%;
}
.feature a:hover {
	color: #0167ce;
	text-decoration: none;
}
.feature a:hover * { color: #0167ce; }

div.carousel a.more {
	bottom: 5px;
	position: absolute;
	right: 0;
	width: auto;
}
div.carousel a.more:hover {
	text-decoration: underline;
}

.carouselFooter { 
	clear: both;
	margin-top: 5px;
	padding: 5px 0;
}

ul.carouselNav {
	cursor: default !important;
	float: left;
}
.carouselNav a {
	background: url(../images/icons.png) no-repeat right -298px;
	float: left;
	height: 11px;
	margin-right: 5px; 
	text-indent: -9999px;
	width: 11px;
}
.carouselNav a.current { 
	background-position: right -199px; 
	font-weight: bold;
}

 Columns 
.column a.button {
	display: inline-block;
	margin-top: 10px;
}

.column h3 { clear: both; }
.column p { margin: 0; }

.onParliament h3 {
	background: url(../images/icons.png) no-repeat 5px -807px;
	border-bottom: 1px solid #004d38;
	color: #004d38;
	font-size: 18px;
	margin: 10px 0;
	padding: 0;
	text-indent: 30px;
}
.onParliament h3 a,
.onParliament h3 a:link,
.onParliament h3 a:visited { color: #004d38; }

.onParliament .inner h3 {
    background-image: none;
    border: 0;
    clear: both;
    margin: 5px 0;
    padding: 0;
    text-indent: 0;
}

.sitting p {
	background-color: #d1e9da;
	margin-top: 10px;
	padding: 3px 0;
	text-align: center;
}
.sitting p.calendarUnavailable {
    background-color: #ff5050;
}

.sitting ul li {
	background-image: none;
	margin: 0;
	padding: 0;
}
.sitting li a:after {
	color: #333;
	content:"\00a0\00bb"; 
}


.calBox {
	float: left;
	margin: 0 6px 10px 0;
	width: 60px;
}

.calBox span {
	background: #ccc;
	border: 1px solid #a7a7a7;
	display: block;
	height: 45px;
	padding: 3px 5px;
	text-align: center;
}

.calBox .day {
	background: linear-gradient(#fff, #ccc); 
		background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#cccccc));
		background: -webkit-linear-gradient(#fff, #ccc);
		background: -moz-linear-gradient(#fff, #ccc);
		background: -ms-linear-gradient(#fff, #ccc);
		background: -o-linear-gradient(#fff, #ccc);	
		-pie-background: linear-gradient(#fff, #ccc);
	border-radius: 8px 8px 0 0;
		-webkit-border-radius: 8px 8px 0 0;
		-moz-border-radius: 8px 8px 0 0;	
	font-family: 'OpenSansCondensedBold';	
  	font-size: 40px;
}
.calBox .month {
	background: linear-gradient(#ccc, #fff);
		background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ccc), to(#fff));
		background: -webkit-linear-gradient(#ccc, #fff);
		background: -moz-linear-gradient(#ccc, #fff);
		background: -ms-linear-gradient(#ccc, #fff);
		background: -o-linear-gradient(#ccc, #fff);
		-pie-background: linear-gradient(#ccc, #fff);
	border-radius: 0 0 8px 8px;
		-webkit-border-radius: 0px 0px 8px 8px;
		-moz-border-radius: 0px 0px 8px 8px;	
	border-top-width: 0;
	font-family: 'OpenSansCondensedLight';
 	font-size: 16px;
}*/

/* *** Secondary Area Styles (Aside) *** */
aside {
/*	clear: none;
	float: right;
	width: 258px; */
  float: right;
  width: 20%; /*calc(720/3400); 21.176470588235% */
}

aside h2 {
  font-size: 2em;
  font-weight: 300;
  font-family: OpenSansLight, 'Open Sans', sans-serif;
  margin: 0 0 20px;
}

aside .inner { 
	padding: 30px;
}

aside .scrollable {
	height: 100px;
	overflow: hidden;
	overflow-y: scroll;
	padding-right: 5px;
}

/* Events */
#events {
  background: #000;
}
#nextSitting {
  display: table;
  width: 100%;
  border-spacing: 0;
  margin: 0;
  border-bottom: solid 8px #fff;
}
#nextSitting .block {
  width: 50%;
  padding: 15px;
  background: #1bcba5;
}
#nextSitting .parliament {
  background: url(../images/nz-parliament-chamber.jpg) 50% 50%;
  background-size: cover;
}
#nextSitting h3 {
  font-size: 1.42857142857143em; /* 20 */
}
#nextSitting ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#nextSitting a {
  font-style: italic;
  color: #000;
}

#upcomingEvents {
  background: #000;
  color: #fff;
  padding: 30px;
  position: relative;
  table-layout: fixed;
}
#upcomingEvents h2 {
  color: #fff;
  padding-bottom: 16px;
  border-bottom: solid 2px #555;
}
#upcomingEvents .view-all {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  font-style: italic;
}
#upcomingEvents .grid {
  margin: -30px 0;
/*  border-spacing: 0;
  margin: 0;*/
}
#upcomingEvents .slick-track:before,
#upcomingEvents .slick-track:after {
  display: inline;
}
#upcomingEvents .block {
  width: 50%;
  position: relative;
}
#upcomingEvents .block a {
  position: relative;
}

#upcomingEvents h3 {
  color: #fff;
}
#upcomingEvents h3 a {
  color: #fff;
}
#upcomingEvents .time {
  font-weight: bold;
  font-size: 1.28571428571429em; /* 18 */
  margin: .5em 0;
}
#upcomingEvents img {
  width: 100%;
  height: auto;
  margin-bottom: 1px;
}
#upcomingEvents .date {
  background: #1bcba5;
  padding: 6px 5px;
  font-size: 3.42857142857143em; /* 48 */
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
#upcomingEvents .date span {
  display: inline-block;
  font-family: OpenSansLight;
  font-weight: 300;
}
#upcomingEvents a:hover {
  text-decoration: none;
}
#upcomingEvents .fa {
  font-size: 30px;
  color: #ccc;
  position: absolute;
  top: 50%;
  left: -15px;
  margin-top: -15px;
  cursor: pointer;
  z-index: 11;
}
#upcomingEvents .fa-chevron-right {
  left: auto;
  right: -15px;
}
#upcomingEvents .fa:hover {
  color: #fff;
}

/* Useful Contacts */
.contactBox {
  padding: 0 30px 0 15px;
/*  border-left: solid 5px #d15a49;*/
  position: relative;
}
.contactBox ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font: 1.42857142857143em/1.2 OpenSansLight, sans-serif;
}
.contactBox a {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.contactBox .edit {
  top: 0;
  right: 0;
}

/* Documents */
#documents {
  padding: 30px;
  background: #efefef;
}
#documents h2 {
  display: inline-block;
  margin-bottom: 10px;
}
#documents h3 {
  font-size: 1.28571428571429em; /* 18 */
  line-height: 1;
  text-transform: uppercase;
  margin: 10px 0;
}
#documents ul {
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.42857142857143em;
  line-height: 1.2;
  font-weight: 600;
}
#documents li {
  padding: 15px 0 0 0;
  border-top: solid 2px #ccc;
  margin: 15px 0 0;
  position: relative;
  overflow: hidden;
}
#documents a {
  display: block;
  padding-left: 80px;
  min-height: 60px;
}
#documents .icon {
  font-size: 60px;
  position: absolute;
  top: 15px;
  left: 0;
}
#documents .search {
  float: right;
  display: inline-block;
  min-width: 180px;
  padding: 0 50px 0 0;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 5px;
  white-space: nowrap;
}
#documents input[type="text"] {
  font-size: 1.14285714285714em; /* 16 */
  color: #000;
  padding: 8px 0 8px 10px;
  border-bottom: 0;
}
#documents input[type="submit"] {
    display: inline-block;
    font: normal normal normal 2em/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 28px;
    margin: 0;
    background: transparent;
    color: #000;
    padding: 5px 11px;
/*    border: solid 4px #000;*/
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

/* Editable Promos */
.promos {
  background: #ddd;
  padding: 30px;
}

#my-promos ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#my-promos li {
  padding-left: 170px;
  position: relative;
  min-height: 150px;
  margin: 0 0 30px;
}
#my-promos ul li:last-child {
  margin: 0;
}
#my-promos img {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: auto;
}
#my-promos h3 {
  color: #157a6b;
}
#my-promos p {
  color: #000;
  font-size: 1.14285714285714em; /* 16 */
}
#my-promos a {
  display: block;
}
#my-promos a:hover {
  text-decoration: none;
}
#my-promos a:hover h3 {
  text-decoration: underline;
}


/* Tabs *
.tabBox { 
	border: 1px solid #a7a7a7;
	border-radius: 8px; 
		-webkit-border-radius: 8px; 
		-moz-border-radius: 8px;
	float: left;
	margin: 15px 0 0; 
	padding: 10px 0 0;
	position: relative; 
}

ul.tabs {
	float: left;
	margin: 0;
	padding: 0;
}
.tabs li { 
	float: left;
	font-family: 'OpenSansCondensedLight';	
	font-size: 18px;
	height: 25px;
	margin: 0;
	padding: 5px 5px 0;
	position: relative;
	text-align: center;
	top: 1px;
	width: 116px;
}

.tabs h3 { text-indent: 10px; }

.tabs a,
.tabs a:link,
.tabs a:visited { 
	color: #000; 
	display: block;
	outline: 0; 
}

#OurHouseli a,
#OurHouseli a:link,
#OurHouseli a:visited { color: #fff; }

.tabs #TheHouseli { 
	background-color: #d1e9da;
	border: 1px solid #cacaca;
	border-bottom: 0;
	border-radius: 8px 8px 0 0; 
		-webkit-border-radius: 8px 8px 0 0; 
		-moz-border-radius: 8px 8px 0 0;
	box-shadow: #999 0 -1px 1px;	
		-webkit-box-shadow: #999 0 -1px 1px;
		-moz-box-shadow: #999 0 -1px 1px;
}
.tabs #TheHouseli a { background: transparent url(../images/icons.png) no-repeat 3px -806px; }

.tabs #OurHouseli { 
	background: #78aea1 none;
		background: -webkit-gradient(linear, 0 0, 0 bottom, from(#78aea1), to(#082f21));
		background: -webkit-linear-gradient(#78aea1, #082f21);
		background: -moz-linear-gradient(#78aea1, #082f21);
		background: -ms-linear-gradient(#78aea1, #082f21);
		background: -o-linear-gradient(#78aea1, #082f21);
		background: linear-gradient(#78aea1, #082f21);
		-pie-background: linear-gradient(#78aea1, #082f21);
	color: #fff; 	
}
.tabBox .inner {
	border: 1px solid #cacaca;
	border-top: 0;
	border-bottom-color: #030;
	border-radius: 0 0 8px 8px; 
		-webkit-border-radius: 0 0 8px 8px; 
		-moz-border-radius: 0 0 8px 8px;
	box-shadow: #999 0 2px 1px;	
		-webkit-box-shadow: #999 0 2px 1px;
		-moz-box-shadow: #999 0 2px 1px;	
	clear: both;
	margin: 0;
	min-height: 40px;
	width: 234px;
}
.tabBox #TheHouseTab { background-color: #d1e9da; }
.tabBox #OurHouseTab { 
	background-color: #fff;
	border: 1px solid #103829;
	border-top: 3px solid #103829;	
}

.contactBox { margin-top: 15px; }

.contactBox p { clear: both; }

.personContacts {
    float: left;
    max-height: 230px;
    margin-bottom: 10px;
    overflow: auto;
    width: 100%;
}
.personalContactsList {
	overflow: hidden;
}

.predefinedContacts {
    float: left;
    height: 90px;
    margin-bottom: 10px;
    overflow: auto;
    width: 100%;
}
.contactItem{
	width: 215px;
	word-wrap: break-word;
}
.personContacts .contactItem{
 	color: #000;
 	width: 215px;
 	word-wrap: break-word;

}
.mannualName { 
	color: #000;
	font-weight: bold;
}*/

  
/* Button Override */
.contactBox a.button[title="Add new contact"],
.contactBox a.button[title="Manage Contacts"] {
	color: #fff;
	position: relative;    
}