@charset "utf-8";

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('../webfonts/Open-Sans-300.eot');
  src: url('../webfonts/Open-Sans-300.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Light'),
       local('Open-Sans-300'),
       url('../webfonts/Open-Sans-300.woff2') format('woff2'),
       url('../webfonts/Open-Sans-300.woff') format('woff'),
       url('../webfonts/Open-Sans-300.ttf') format('truetype'),
       url('../webfonts/Open-Sans-300.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'OpenSansLight';
  font-weight: normal;
  font-style: normal;
  src: url('../webfonts/Open-Sans-300.eot');
  src: url('../webfonts/Open-Sans-300.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Light'),
       local('Open-Sans-300'),
       url('../webfonts/Open-Sans-300.woff2') format('woff2'),
       url('../webfonts/Open-Sans-300.woff') format('woff'),
       url('../webfonts/Open-Sans-300.ttf') format('truetype'),
       url('../webfonts/Open-Sans-300.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../webfonts/Open-Sans-regular.eot');
  src: url('../webfonts/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
    local('Open Sans'),
    local('Open-Sans-regular'),
    url('../webfonts/Open-Sans-regular.woff2') format('woff2'),
    url('../webfonts/Open-Sans-regular.woff') format('woff'),
    url('../webfonts/Open-Sans-regular.ttf') format('truetype'),
    url('../webfonts/Open-Sans-regular.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url('../webfonts/Open-Sans-600.eot');
  src: url('../webfonts/Open-Sans-600.eot?#iefix') format('embedded-opentype'),
    local('Open Sans Semibold'),
    local('Open-Sans-600'),
    url('../webfonts/Open-Sans-600.woff2') format('woff2'),
    url('../webfonts/Open-Sans-600.woff') format('woff'),
    url('../webfonts/Open-Sans-600.ttf') format('truetype'),
    url('../webfonts/Open-Sans-600.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../webfonts/Open-Sans-700.eot');
  src: url('../webfonts/Open-Sans-700.eot?#iefix') format('embedded-opentype'),
    local('Open Sans Bold'),
    local('Open-Sans-700'),
    url('../webfonts/Open-Sans-700.woff2') format('woff2'),
    url('../webfonts/Open-Sans-700.woff') format('woff'),
    url('../webfonts/Open-Sans-700.ttf') format('truetype'),
    url('../webfonts/Open-Sans-700.svg#OpenSans') format('svg');
}

/* helper classes */
/*.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}*/
.clearfix:before,.clearfix:after,.container:before,.container:after{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0} .clearfix:after,.container:after{clear:both} .clearfix,.container{zoom:1} .ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr;line-height:0} .ir br{display:none} .hidden{display:none!important;visibility:hidden} .visuallyhidden{border:0;clip:rect(0000);height:1px;overflow:hidden;position:absolute;width:1px;margin:-1px;padding:0} .visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;overflow:visible;position:static;width:auto;margin:0} .invisible{visibility:hidden}

/**
 * SEMANTICS
 */
html, body {
  width: 100%;
  height: 100%;
  /*  overflow-x: hidden;*/
  
}
body {
  background: #fff;
  color: #000;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
  line-height: 1.71428571428571; /* 24 */
  font-weight: 400;
  margin: 0;
  padding: 0 0 0 120px;
  min-width: 320px;
  box-sizing: border-box;
  overflow-y: scroll;
}
body.nav-open {
  overflow: hidden;
}

h1 {
  font-size: 4.28571428571429em; /* 60 */
  line-height: 1.2;
  font-weight: normal;
  color: #000;
  margin: 0;
}
h2 {
  font-size: 2.57142857142857em; /* 36 */
  font-weight: normal;
  line-height: 1.33333333333333; /* 48 */
  margin: 1em 0;
}
h3 {
  font-size: 1.71428571428571em; /* 24 */
  font-weight: normal;
  line-height: 1.25;
  margin: 1.2em 0 0;
}
h4, h5, h6 {
  font-weight: bold;
  margin: 1.5em 0 0;
}

p {
  font-size: 1em;
  margin: 1em 0;
}
p.intro {
  font-size: 1.71428571428571em; /* 24 */
  line-height: 1.33333; /* 36 */
}
a, a:visited {
  color: #157a6b;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:active {
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}
a.button {
  display: inline-block;
  background: #fff;
  color: #157a6b;
  padding: 15px 30px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #157a6b;
  transition: .3s;
}
a.button:hover, a.button:active, a.button:focus {
  background: #157a6b;
  border: 1px solid #157a6b;
  color: #fff;
}
a.more {
  white-space: nowrap;
}
blockquote {
  color: #666;
  font-size: 2.14285714285714em; /* 30 */
  line-height: 1.26666666666667; /* 38 */
  font-style: italic;
  min-height: 110px;
  padding: 0 0 0 140px;
  margin: 1em 0;
  position: relative;
}
blockquote:before {
  font: normal 120px/1 FontAwesome;
  content: "\f10d";
  color: #f5bc11;
  position: absolute;
  left: 0;
  top: 0;
}
strong, b {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  display: block;
}
iframe {
  max-width: 100%;
}
/* apply common styling after reset.css */
ul, ol {
  margin: 1em 0;
  padding-left: 1.5em;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ul ol {
  list-style-type: lower-roman;
}
ul li, ol li {
  margin: .5em 0;
}
.list-unstyled {
  list-style: none;
  padding: 0;
}
li ul, li ol {
  margin: 0;
}
li p {
  margin: 0;
}
dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5em;
}
hr {
  background: #d4d4d4;
  border: none;
  clear: both;
  float: none;
  height: 1px;
  margin: 0 0 1.4375em;
  width: 100%;
}
/* generic table styles */
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.5em 0;
/*  font-size: 0.92857142857143em;  13 */
  font-size: 1em;
  border-bottom: solid 5px #000;
}
th, tr, td {
  vertical-align: middle;
}
thead th {
  background: #666;
  color: #fff;
  padding: 5px 10px;
  text-align: left;
  vertical-align: bottom;
}
td, tbody th {
  background: #fff;
  padding: 15px 10px;
  text-align: left;
  vertical-align: top;
}
tbody th {
  font-weight: bold;
}
tbody tr:nth-child(even) td,
tbody tr:nth-child(even) th {
  background: #f2f2f2;
}
td ul {
  margin: 0;
}
td li, td p {
  margin-top: 0;
}
/* data table */
.data-table table {
  border-bottom: solid 7px #204b6e;
}
.data-table thead th {
  text-align: center;
  padding: 5px;
}
.data-table thead th:first-child {
  text-align: left;
  padding-left: 10px;
}
.data-table td,
.data-table tbody th {
  padding: 5px 10px;
  text-align: center;
  border-left: solid 2px #aec4d6;
}
.data-table td:first-child,
.data-table tbody th:first-child {
  text-align: left;
  border-left: 0;
}
/*.data-table tbody tr:nth-child(even) td,
.data-table tbody tr:nth-child(even) th {
  background: #efefef;
}*/

::-webkit-input-placeholder {
  color: #999;
}
:-moz-placeholder {
  color: #999;
}
::-moz-placeholder {
  color: #999;
}
:-ms-input-placeholder {
  color: #999;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

/**
 * FONTS
 */
.fa, .fa:hover {
  text-decoration: none;
}

/************************ GENERAL FORM STYLES ****************************/
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
input {
  font-family: 'Open Sans', sans-serif;
}
input[type="text"], input[type="email"], input[type="password"], input[type="number"], select, textarea {
  width: 100%;
  padding: 9px 14px;
  background: #fff;
  border: solid 1px #ccc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="submit"] {
  background: #6eb33c;
  color: #fff;
  border: 0;
  padding: 5px 20px;
  line-height: inherit;
  font-weight: bold;
}
input[type=button], input[type=reset], input[type=submit], button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  box-sizing: border-box;
}
/* https://coderwall.com/p/w7npmq/fully-custom-select-box-simple-css-only */
.dropdown .select {
  border: solid 1px #ccc;
  overflow: hidden;
  background: #fff;
  position: relative;
}
.dropdown .select:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  right: 7px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #ccc;
}
.dropdown .select select {
  width: 100%;
  padding: 10px 20px 10px 15px;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.dropdown .select select:focus {
  outline: none;
}
.dropdown .select select::-ms-expand {
  display: none;
}
/* IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance. Targeting media query hack via http://browserhacks.com/#hack-28f493d247a12ab654f6c3637f6978d5 - looking for better ways to achieve this targeting */
/* The second rule removes the odd blue bg color behind the text in the select button in IE 10/11 and sets the text color to match the focus style's - fix via http://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
	.custom-select select::-ms-expand {
		display: none;
	}
	.custom-select select:focus {
		border-color: #aaa; /* Match-03 */
	}
	.custom-select select:focus::-ms-value {
		background: transparent;
		color: #222; /* Match-02*/
	}
	.custom-select select {
		padding-right: 2em; /* Match-01 */
		background: none; /* Match-04 */
		border: 1px solid transparent; /* Match-05 */
	}
	.custom-select::after {
		display: block;
	}
}



object, embed, video, img {
  border: 0;
}

object, embed, video {
  max-width: 100%;
}

figure {
/*  float: left;
  width: 763px;
  border: 1px solid #ccc;*/
  margin: 0 0 20px;
}
figure img {
  display: block;
  max-width: 100%;
  height: auto;
}

figcaption {
  border-top: 1px solid #ccc;
  padding-top: 5px;
  clear: both;
  display: block;
  margin: 0 0 5px;
}

.pageImageAttribution {
  font-style: italic;
  margin: 5px 0;
}

/* STRUCTURE */
.container {
  margin: 0 auto;
  padding: 0 15px;
}

#header .container {
  padding: 0;
  min-height: 270px;
  position: relative;
  z-index: 999;
}

.grid {
	display: table;
	table-layout: fixed;
	border-spacing: 30px;
	margin: 0 -30px;
}

.grid .row {
	display: table-row;
}

.grid .block {
	display: table-cell;
	width: 33.33%;
  box-sizing: border-box;
  vertical-align: top;
}

.block {
	box-sizing: border-box;
}

.block a:hover {
  text-decoration: none;
}

.block .inner {
	padding: 30px;
}

.block img {
	display: block;
	width: 100%;
	height: auto;
}

.block h2 {
	font-size: 2em;
	line-height: 1.25;
  margin: 0;
}

.block a h2 {
  color: #157a6b;
}

.block p {
  margin-bottom: 0;
}

.block a p {
  color: #000;
}


.block .edit, .block .fa-edit {
  font-size: 32px;
  width: 28px;
  height: 32px;
  overflow: hidden;
  position: absolute;
  top: 30px;
  right: 30px;
}

.block .edit:before {
  display: inline-block;
  width: 28px;
  height: 32px;
  overflow: hidden;
  text-align: center;
}

.widget {
  position: relative;
}
.widget h2 {
  font-family: OpenSansLight, sans-serif;
  font-size: 2em;
	line-height: 1.25;
  margin: 0 0 20px;
}
.widget.promo {
  background: #d15a49;
  color: #fff;
}
.grid .widget.promo > a {
  display: block;
  padding: 30px;
}
.grid .widget.promo img {
  float: left;
  width: 45%;
  height: auto;
}
.grid .widget.promo .content {
  margin-left: 50%;
}
.promo a {
  color: #fff;
  text-decoration: none;
}
.promo a h2 {
  color: #fff;
  margin: 0 0 10px;
}
.promo a p {
  color: #fff;
  margin: 10px 0;
}
.promo .more {
  display: block;
  font-size: 1.14285714285714em;
  font-weight: 600;
}
aside .promo img {
  width: 100%;
  height: auto;
}
aside .promo .content {
  padding: 30px;
}

.widget.poll {
  padding: 30px 30px 75px;
  background: #f5bc11;
}
.poll label {
  display: block;
}
.poll input[type="radio"] {
  margin-right: 6px;
}
.poll input[type="submit"], .poll input[type="button"] {
  background: #fff;
  color: #000;
  text-transform: uppercase;
  font-size: 1.14285714285714em; /* 16 */
  font-weight: bold;
  padding: 8px 15px;
  border: solid 4px #000;
  position: absolute;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  min-width: 0;
}
.poll input[type="button"]:disabled {
  border-color: #e1e1e1;
  color: #b1b1b1;
}
.poll a {
  color: #000;
  font-weight: 600;
}
.poll .view-results {
  display: inline-block;
  text-transform: uppercase;
  margin: 10px 0 0;
}

#twitter {
  
}
.twitter-pod__header {
  background: #f2f2f2;
  padding: 15px;
  position: relative;
}
.twitter-pod__header h4 {
  font: normal 24px/1 OpenSansLight, sans-serif;
  margin: 0;
}
.twitter-follow {
    display: inline-block;
    padding: 0.14286em 0.35714em;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
    background: #f8f8f8;
    color: #1dcbf7;
}
.twitter-pod__follow {
    position: absolute;
    right: 1.42857em;
    bottom: 0.71429em;
    display: block;
/*    width: 5em;*/
}
.twitter-follow__text {
  color: #666;
  font-weight: bold;
  font-size: 12px;
}
.twitter-timeline-rendered {
  width: 100% !important;
}

.related h2 {
  font: bold 1.28571428571429em 'Open Sans', sans-serif; /* 18 */
  text-transform: uppercase;
  padding-left: 10px;
  border-left: solid 5px #2ebcc5;
  margin: 0 0 25px;
}
.related ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.related li {
  margin: 0 0 30px;
}
.related a {
  display: block;
  background: #efefef;
  color: #000;
}
.related img {
  width: 100%;
  height: auto;
}
.related .inner {
  padding: 15px;
}
.related h3 {
  font-size: 1.71428571428571em; /* 24 */
  color: #157a6b;
  margin: 0 0 20px;
}
.related p {
  margin: 1em 0 0;
}
.related a:hover {
  text-decoration: none;
  background: #157a6b;
  color: #fff;
}
.related a:hover h3 {
  color: #fff;
}

a:hover .meta .category {
  color: #fff;
  border-right-color: #fff;
}

.meta {
  line-height: 1.5;
}

.meta .category {
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 6px;
  border-right: solid 1px #000; 
}
div.meta {
  margin: 1em 0;
}
article div.meta {
  padding-left: 10px;
  border-left: solid 5px #2ebcc5;
}

/* Links */
.links {
  padding: 30px;
  background: #efefef;
}
.links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.14285714285714em; /* 16 */
  line-height: 1.5;
}
.links li {
  padding-left: 15px;
  margin: .5em 0 0;
  position: relative;
}
.links li:before {
  list-style: none;
  display: inline-block;
  font: normal normal normal 14px/1.5 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  position: absolute;
  top: 0;
  left: 0;
}

/* Contacts */
.contacts {
  border-left: solid 5px #d15a49;
  padding: 0 0 0 15px;
}
.contacts ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* News Carousel */
#carousel {
/*  float: left;
  width: 80%;*/
}
#carousel .slide {
  z-index: 10;
}
#carousel .slide-image, #carousel .slide-video {
  height: 0;
  width: 100%;
  padding-top: 52%;
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
}
#carousel .slide-video {
  padding-top: 56.65%; /* 56.25 16:9 */
}

#carousel .slide-image h2, #carousel .slide-video h2 {
  color: #fff;
  text-shadow: 1px 2px 1px rgba(0,0,0,.8);
  padding: 30px;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}
#carousel .slide-video h2 {
  pointer-events: none;
}
#carousel .slide-video:hover h2 {
  display: none;
}
#carousel p {
  margin: 1em 150px 0 30px;
}
#carousel .fa {
  font-size: 30px;
  color: #ccc;
  position: absolute;
  bottom: 0;
  right: 30px;
  cursor: pointer;
  z-index: 11;
}
#carousel .fa-chevron-left {
  right: 100px;
}
#carousel .fa:hover {
  color: #000;
}

.slide-video > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*.mediaPlayerContainer {
  position: relative;
  float: none;
}*/
.slide-video video {
  width: 100%;
  height: 100%;
}

/* Document links */
.widget.documents {
  background: #efefef;
  padding: 30px;
}
.widget.documents h2 {
  margin-bottom: 15px;
}
.widget.documents ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: solid 2px #ccc;
}
.widget.documents li {
  position: relative;
  padding: 10px 0;
  border-bottom: solid 2px #ccc;
  margin: 0;
}
.widget.documents a {
  display: block;
  padding-left: 40px;
  min-height: 30px;
  font-weight: 600;
  line-height: 1.5;
}
.widget.documents .icon {
  position: absolute;
  top: 12px;
  left: 0;
  font-size: 30px;
  line-height: 1;
}


/* NEWS AND TILE GRIDS */
.tiles .block {
  background: #ebebeb;
}
.tiles .block:hover {
  background: #1bcaa4;
}
.tiles .block a {
  display: block;
  color: #000;
}
.tiles .block:hover a {
  color: #fff;
}
.tiles .block:hover h2, .tiles .block:hover p {
  color: #fff;
}
.tiles .block:hover .category {
  border-right-color: #fff;
}
.load-more {
	text-align: center;
}
#loadMoreNewsBtn {
  background: #1bcaa4;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 30px;
  border: 0;
  margin: 0;
  cursor: pointer;
}


/* Did You Know */
#did-you-know {
  background: #363636;
  color: #fff;
  border-spacing: 0;
  margin: 0;
}
#did-you-know .content {
  width: 35%;
  padding: 30px 60px;
  word-break: break-all;
}
#did-you-know .image {
  width: 65%;
  background-position: 50% 50%;
  background-size: cover;
  padding: 25% 0 0;
}
#did-you-know h2 {
  color: #fff;
}

/* *** Header Section Styles *** */
#header {
  background: #3a3a3a url(../images/bg-header.jpg) 50% -13% no-repeat;
  background-size: cover;
  color: #fff;
  padding: 0 15px;
/*  margin-top: -35px;*/
  position: relative;
  z-index: 10;
/*  position: fixed;
  top: 0;
  left: 120px;
  right: 0;*/
}
#header h1 {
  font-size: 3.42857142857143em; /* 48 */
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 25%;
  padding: 15px 30px;
}

.altNav {
/*  background: #000;*/
/*  background: #3a3a3a url(../images/bg-header.jpg) 50% 0 no-repeat;
  background-size: 100%;*/
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0,0,0,.2)), to(rgba(0,0,0,.1)));
  background: -webkit-linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.1));
  background: -moz-linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.1));
  background: -ms-linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.1));
  background: -o-linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.1));
  background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.1));
  
  
  position: fixed;
  top: 0;
  left: 446px; /* 120 + 326 */
  right: 0;
  z-index: 100;
}
.altNav > .container {
    padding: 0;
}
.altNav nav {
  float: right;
}
#header .altNav {
  background: transparent;
  float: right;
}
.altNav ul, .altNav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.altNav li {
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  color: #acacac;
  text-transform: uppercase;
  margin-right: 25px;
}

.altNav nav a:link,
.altNav nav a:visited,
.altNav nav a:active {
  color: #acacac;
}

.altNav .fa {
  margin-right: 6px;
}

.altNav nav a.highlight {
  color: #d15a49;
}

/* Logo */
.logo {
/*  float: left;*/
  background: #252525;
  /*padding: 25px 30px;*/
  position: fixed;
  top: 0;
  left: 120px;
  z-index: 103;
}
.logo img {
  height: 120px;
  width: auto;
  transition: .3s;
}

/* Navigation */
#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  padding-left: 0px;
  height: 100%;
  overflow: visible;
  background: #292929;
  z-index: 104;
  transition: .3s ease-in-out;
}
.toggles ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.toggles li {
  padding: 18px 0;
  margin: 0;
  text-align: center;
}
.toggles .fa {
  font-size: 24px;
  line-height: 44px;
  width: 44px;
  border-radius: 22px;
  cursor: pointer;
}
.toggles .fa-address-book {
  color: #f6bd14;
  font-size: 44px;
}
.toggles .fa-wrench {
  background: #d25a49;
  color: #292929;
  font-size: 30px;
}
.toggles .fa-search {
  background: #464646;
  color: #fff;
}
#toggle {
	display: block;
	width: 120px;
	height: 120px;
/*	position: absolute;
	top: 0;
	right: 0;*/
	background: #1bcba5;
	color: #000;
	font-size: 50px;
	line-height: 120px;
	text-align: center;
	cursor: pointer;
  transition: .3s;
}
#slideout {
  position: absolute;
  top: 0;
  right: 0;
  left: -9999px;
  bottom: 0;
  background: rgba(0,0,0,.5);
  padding-top: 120px;
/*    width: 600px;
    background: #292929;
    position: absolute;
    left: -600px;
    top: 120px;*/
    transition: .3s ease-in-out;
}
.nav-open #slideout {
  left: 120px !important;
}

/* Search */
.search {
  padding: 19px 75px 20px 30px;
  box-sizing: border-box;
  position: relative;
}
#menu .search {
  background: #292929;
}
.search input[type="text"] {
  background: transparent;
  color: #999;
  font-size: 2em;
  line-height: 1.25;
  font-weight: 300;
  font-family: OpenSansLight, 'Open Sans', sans-serif;
  padding: 2px 0;
  border: 0;
  border-bottom: solid 2px #999;
}
#menu input[type="submit"] {
  display: inline-block;
  font: normal normal normal 2em/1.25 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 28px;
  margin: 0;
  
  background: transparent;
  color: #fff;
  padding: 0;
  border: 0;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}
#menu .search .advanced {
    display: none;
}

/*.search span { display: block; }*/

/* Find a Person */
.find-people {
  background: #f6bd14;
  color: #000;
  padding: 30px 30px 82px;
  box-sizing: border-box;
  position: relative;
}
.find-people h2 {
  font-size: 2em;
  font-weight: 300;
  font-family: OpenSansLight, 'Open Sans', sans-serif;
  margin: 0 0 20px;
}
.find-people h2 span.people {
  margin-right: 10px;
  position: relative;
}
.find-people h2 span.people span {
  background: #fce9b1;
  margin: 2px 5px 2px 2px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.find-people ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.find-people li {
  display: inline-block;
  margin: 0;
}
.find-people label {
  white-space: nowrap;
}
.find-people input[type="text"] {
  background: #fff;
  color: #000;
  font-size: 1.14285714285714em; /* 16 */
  line-height: 1.25;
  padding: 8px 15px;
  border: 0;
  border-radius: 5px;
  vertical-align: middle;
}
.find-people input[type="radio"] {
  margin-right: 4px;
}
.find-people input[type="submit"] {
  display: inline-block;
  font: normal normal normal 2em/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 28px;
  margin: 0;
  background: #fff;
  color: #000;
  padding: 5px 6px;
  border: solid 4px #000;
  position: absolute;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}
.find-people .advanced {
  display: block;
  margin: 1em 50px -46px 0;
  font-weight: 600;
}
.find-people .advanced a {
  color: #000;
}

#menu .find-people {
  padding: 12px 75px 12px 30px;
  height: 80px;
}
#menu .find-people h2 {
  margin: 0;
}
#menu .find-people h2 span.people {
  display: none;
}
#menu .easy-autocomplete {
  display: inline-block;
}
#menu .find-people input[type="text"] {
  width: auto;
  background: #f8d466;
  color: #000;
  font-size: 1.28571428571429em; /* 18 */
/*  line-height: 30px;
  padding: 5px 15px;
  border: 0;
  border-radius: 4px;
  
  vertical-align: middle;*/
}

#menu .find-people input[type="submit"] {
  color: #000;
  bottom: initial;
}
#menu .find-people ::-webkit-input-placeholder {
  color: #000;
}
#menu .find-people input[type="text"]:-moz-placeholder {
  color: #000;
}
#menu .find-people ::-moz-placeholder {
  color: #000;
}
#menu .find-people input[type="text"]:-ms-input-placeholder {
  color: #000;
}
#menu .find-people ul {
  display: inline-block;
}
#menu .find-people .advanced {
  display: none;
}

.easy-autocomplete-container {
  position: relative;
  overflow: visible;
  z-index: 100;
  top: -5px;
}
.easy-autocomplete-container ul {
  display: block;
  position: absolute;
  width: 100%;
  background: #fff;
}
.easy-autocomplete-container li {
  display: block;
  border-bottom: solid 1px #eee;
}
.easy-autocomplete-container li div {
  display: block;
  padding: 2px 15px;
  color: #000;
  cursor: pointer;
}
.easy-autocomplete-container li div:hover {
  
}

/* Tools menu */
#tools {
  background: #d25a49;
  padding: 20px 30px;
  position: relative;
  z-index: 20;
  box-sizing: border-box;
}
.menu-title, #menu .find-people h2 {
  display: inline-block;
  width: 185px;
  vertical-align: middle;
  font-size: 2em;
  line-height: 40px;
  font-weight: 300;
  font-family: OpenSansLight, 'Open Sans', sans-serif;
}
#tools a {
  color: #000;
}
#tools a:hover {
  text-decoration: none;
}
.toolMenu {
  display: inline-block;
  min-width: 200px;
  background: #e1948a;
  padding: 5px 45px 5px 15px;
  border-radius: 2px 2px 4px 4px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}
.toolMenu > a {
  display: block;
  font-size: 1.28571428571429em; /* 18 */
  line-height: 30px;
}
.toolMenu .fa {
  position: absolute;
  top: 5px;
  right: 0;
  width: 30px;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  border-left: solid 1px #9b6a5c;
  transition: .3s ease-in-out;
}
.toolMenu:hover {
  border-radius: 2px 2px 0 0;
}

.toolOptions {
  display: none;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #e1948a;
  border-radius: 0 0 4px 4px;
  position: absolute;
  top: 40px;
  left: 0;
}
.toolMenu:hover .toolOptions {
  display: block;
}

.toolOptions li {
  border-top: solid 1px #9b6a5c;
  margin: 0;
  padding: 0;
}
.toolOptions a {
  display: block;
  line-height: 1.42857142857143; /* 20 */
  padding: 5px 15px;
}
#tools .toolOptions a:hover {
  background-color: #9b6a5c;
  color: #fff;
}

.menuSearch .find-people, .menuSearch #tools, .menuSearch .mainNav,
.menuPeople #tools, .menuPeople .search, .menuPeople .mainNav,
.menuTools .find-people, .menuTools .search, .menuTools .mainNav {
/*  display: none;*/
  visibility: hidden;
}

/* Main Navigation */
.ms-core-navigation {
  font-family: 'Open Sans', sans-serif;
}
.mainNav .ms-displayInline, .mainNav .ms-core-listMenu-horizontalBox {
  display: block;
}

.mainNav {

}

.mainNav ul, .mainNav li {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.mainNav ul.root > li > a {
  position: relative;
  cursor: pointer;
}
.mainNav ul.root > li > a .menu-item-text:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  font-size: 20px;
  content: "\f055";
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 15px;
}
.mainNav ul.root > li.open > a .menu-item-text:after {
  content: "\f056";
}
.mainNav a > .fa {
  font-size: 20px;
  color: #999;
  width: 20px;
  padding: 14px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.mainNav a {
  
}

.mainNav a {
  color: #fff;
  text-decoration: none;
}
.mainNav a:hover .menu-item-text,
.mainNav a:focus .menu-item-text,
.mainNav li.selected .menu-item-text {
  
}
.mainNav a .menu-item-text {
  font-size: 16px;
}

.mainNav span.translation {
  font-size: 11px;
  margin-left: 10px;
  border-left: solid 2px #1bcba5;
  padding-left: 10px;
}

.mainNav ul.root > li > a:link, 
.mainNav ul.root > li > a:visited {
  display: block;
  font-weight: 600;
  padding: 12px 20px;
  background: #292929;
  color: #fff;
}
.mainNav ul.root > li > a.ms-core-listMenu-item:hover {
  background: #ccc;
  color: #000;
}

.ms-core-listMenu-horizontalBox .dynamic-children.additional-background {
  padding-right: 0;
  background: none;
}
.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item {
  border: 0;
  margin-right: 0;
}

/* Flyout Menu */
ul.dynamic {
  display: none;
  position: relative;
  left: 0 !important;
  top: 0 !important;
  width: auto !important;
  
  background-color: #ccc;
  border: 0;
  box-shadow: none;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 999;
}
.open ul.dynamic {
/*  left: 0 !important;*/

}
.dynamic li {
  font-size: 13px;
  border-bottom: solid 1px #555;
  position:relative;
  z-index: 999;
}
.dynamic li:last-child {
  border-bottom: 0;
}
.dynamic a {
  display: block;
  padding: 12px 0;
  color: #000;
  text-decoration: none;
  position:relative;
  z-index: 999;

}
.mainNav .dynamic span.menu-item-text,
.mainNav .dynamic a:hover .menu-item-text,
.mainNav .dynamic a:focus .menu-item-text,
.mainNav li.selected .dynamic span.menu-item-text {
  border: 0;
  color: #000;
  font-weight: normal;
}
.mainNav .dynamic a:hover {
  background-color: transparent;
}

.ms-core-listMenu-horizontalBox a.ms-core-listMenu-item:hover,
.ms-core-listMenu-horizontalBox a.ms-core-listMenu-item.ms-core-listMenu-selected:hover {
  color: #f00;
}

/* Breadcrumbs */
.breadcrumb {
  color: #999;
  
  width: 25%;
  padding: 15px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;

/*  clear: left;
  float: left;
  display: inline;
  width: 285px;
  margin-right: 50px;
  position: relative;
  z-index: 0;*/
}
.breadcrumb b {
  display: inline-block;
  width: 0;
  text-indent: -999px;
  overflow: hidden;
}
.breadcrumb a {
  color: #fff;
}
.breadcrumb span span a {
  white-space: nowrap;
}
.breadcrumb > span > span:first-of-type a, .fa-home {
  color: #acacac;
  display: inline-block;
  width: 13px;
  overflow: hidden;
  vertical-align: middle;
}
.breadcrumb > span > span:first-of-type a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f015';
  color: #acacac;
  margin-right: 5px;
  position: relative;
  top: -1px;
  z-index: -1;
}
/*.breadcrumb .home + span > span { display: none; }
.breadcrumb .home + span > span + span { display: inline-block; }*/
.breadcrumb img {
  display: none;
}

/* Sub Nav */
.subNav {
  display: block;
  float: left;
  width: 25%;
  min-height: 300px;
  padding: 0 15px;
  box-sizing: border-box;
  position: relative;
  margin-top: 0;
  transition: 0s;
}
.subNav .title {
  font-size: 1.71428571428571em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.subNav ul,
.subNav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.subNav a {
  display: block;
  color: #666;
}
.subNav ul.root {
  border-left: solid 5px #1bcba5;
  padding-left: 15px;
}
.subNav ul.root > li {
  border-bottom: solid 2px #d7d7d7;
}
.subNav ul.root > li:first-child {
  border-top: solid 2px #d7d7d7;
}
#s4-bodyContainer .subNav ul.root > li > a {
  font-size: 1.28571428571429em; /* 18 */
  line-height: 1.22222222222222; /* 22 */
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 0;
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-item,
.ms-core-listMenu-verticalBox li.static > .ms-core-listMenu-item {

}

.subNav li.selected a.static,
.subNav li a.static:hover {
  background: transparent;
  color: #000;
}
li > a.ms-core-listMenu-item.ms-core-listMenu-selected:hover,
li > a.ms-core-listMenu-item:hover,
li > a.ms-core-listMenu-item:active {
  background-color: transparent;
}

.subNav li a.static span {
  margin: 0;
}

.subNav li.hasChildren {
  position: relative;
}
.subNav li.hasChildren > a {
  margin-right: 24px;
}
/*.subNav li.hasChildren > a:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  content: '\f067';
  color: #ccc;
  position: absolute;
  top: 10px;
  right: 0;
}
.subNav li.selected.hasChildren > a:after,
.subNav li.open.hasChildren > a:after {
  content: '\f068';
}*/
.subNav .fa {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  padding: 10px 0;
  color: #ccc;
  cursor: pointer;
}
.subNav li.hasChildren ul {
  display: none;
  margin-left: 30px;
}
.subNav li.selected.hasChildren ul,
.subNav li.open.hasChildren ul {
  display: block;
}

.subNav li.hasChildren li {
  margin: 0 0 10px;
}
#s4-bodyContainer .subNav li.hasChildren li a {
  font-size: 1.14285714285714em;
  line-height: 1.25;
  font-weight: normal;
  padding: 5px 0;
}

/* **** Main Content Area *** */
#main {
  background: #fff;
  color: #000;
}

#main div.primary {
  float: left;
  width: 75%;
  box-sizing: border-box;
  position: relative;
  overflow: visible; /*hidden;  To show 2013 Callout popups, under related infromation*/
  z-index: 11;
}
#main > div.primary {
  padding: 0 30px;
/*  margin-top: 70px;
  margin-bottom: 20px;*/
}
#main .primary.narrow {
  padding-right: 30px;
  margin-bottom: 50px;
}
/*div.primary.narrow table.filter {
  width: 560px;
}

div.primary .content {
  clear: both;
  width: 520px;
}

div.primary article {
  float: left;
  position:relative;
  z-index: 0;
  width: 100%;
}*/

/*.primary ul,
ul.bullets {
  margin: 10px 0 0;
  padding: 0;
}

.primary ul,
.primary ol { margin-left: 15px; }

.primary ol {
  margin-left: 35px;
  padding: 0;
}

.primary ul ul,
.primary ul ol,
.primary ol ul {
  margin-top: 0;
}

.primary ol ol {
  list-style-type: lower-alpha;
  margin-left: 20px;
}

.primary ol ul {
  margin-left: 0px;
}
.primary ul ol li {
  background-image: none;
  list-style-type: lower-roman;
  padding: 0;
}

ul.bullets li,
.primary ul li,
.bullets ul li {
  background: url(../images/bullet.png) no-repeat 0 5px;
  margin-left: 0;
  padding-left: 15px;
}

.primary header {
  height: auto;
  margin-bottom: 10px;
  position: relative;
}

.primary header h1 {
  border-bottom: 1px solid #004d38;
  clear: both;
  margin-bottom: 10px;
  padding-bottom: 5px;
}*/

.primary h1 {
  
}
.translation {
  font-size: 2.57142857142857em; /* 36 */
  margin: 0;
}

.edit-mode-panel {
  
}
ul.functions {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 20px;
}
ul.functions li {
  display: inline;
  vertical-align: middle;
  margin: 0 0 0 12px;
  padding: 0;
}
/*ul.functions {
  float: right;
  margin: 0;
}
ul.functions li {
  background-image: none;
  cursor: pointer;
  float: left;
  height: 15px;
}
ul.carouselNav li {
  background-image: none;
  float: left;
  list-style-type: none;
  padding: 0;
}*/

/* Hero */
.hero {
  margin: 0 0 50px;
}
.PSEventPageLayout .hero,
.PSNewsContentPageLayout .hero,
.PSNewsListingPageLayout .hero,
.PSSectionLandingPageLayout .hero {
  margin: -270px 0 50px;
}

.hero img, .hero video {
  width: 100%;
  height: auto;
}

.hero.videoContent {
  height: 0;
  width: 100%;
  padding-top: 56.65%; /* 56.25 16:9 */
  position: relative;
}
.hero.videoContent > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mediaPlayerContainer {
  position: relative;
  float: none;
}
.hero.videoContent video {
  width: 100%;
  height: 100%;
}



/* Columns */
.column {
  float: left;
  margin-right: 19px;
  margin-top: 13px;
  width: 225px;
}
.column.narrow {
  margin-right: 0;
  width: 181px;
}

/* Boxed headings *
.box {
  border: 1px solid #004d38;
  border-width: 1px 0;
  clear: both;
}
.box h2 {
  border: 1px solid #a7a7a7;
  border-width: 1px 0;
  line-height: 1.1;
  margin: 1px 0;
  padding-top: 7px;
}*/

/* Boxed content */
.boxContent { margin: 10px 0 20px; }

/* Calendar Date Box */
.calBox {
  float: left;
  margin: 0 6px 10px 0;
  width: 60px;
}

.calBox span {
  background: #ccc;
  border: 1px solid #a7a7a7;
  display: block;
  height: 45px;
  padding: 3px 5px;
  text-align: center;
}

.calBox .day {
  background: linear-gradient(#fff, #ccc);
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#cccccc));
  background: -webkit-linear-gradient(#fff, #ccc);
  background: -moz-linear-gradient(#fff, #ccc);
  background: -ms-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  -pie-background: linear-gradient(#fff, #ccc);
  border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  font-size: 40px;
}
.calBox .month {
  background: linear-gradient(#ccc, #fff);
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ccc), to(#fff));
  background: -webkit-linear-gradient(#ccc, #fff);
  background: -moz-linear-gradient(#ccc, #fff);
  background: -ms-linear-gradient(#ccc, #fff);
  background: -o-linear-gradient(#ccc, #fff);
  -pie-background: linear-gradient(#ccc, #fff);
  border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0px 0px 8px 8px;
  -moz-border-radius: 0px 0px 8px 8px;
  border-top-width: 0;
 	font-size: 16px;
 	padding: 0 3px;
}

/* Video Styles */
.mediaPlayerTitleOverlay a {
  color: #fff;
  margin-left: 10px;
  padding: 5px 0;
}
ul.mediaPlayerAdditionalControls li { background-image: none; }
ul.mediaPlayerAdditionalControls li a img {
  width: auto;
}

/* *** Secondary Area Styles (Aside) *** */
aside {
  float: right;
  overflow: visible; /* hidden; To show 2013 Callout popups, under related infromation */
  position: relative;
  width: 25%;
}
aside .widget {
  margin-bottom: 50px;
}
aside .widget:last-child {
  margin-bottom: 0;
}
/*article aside {
  clear: both;
  float: left;
  margin: 20px 0;
  width: 100%;
}
article .fauxdash {
  background: url(../images/bg-relatedInfo.png) repeat-y center 0;
 	float: left;
 	width: 100%;
}

aside .inner {
  float: left;
  width: 145px;
}

aside .column {
  margin: 0;
  width: 55%;
}
aside .contact {
  float: left;
  margin-left: 15px;
  width: 40%;
}

.primary article aside ul { margin: 0; }
.primary article aside ul.bullets { margin-left: 15px; }

aside .box { margin-bottom: 10px; }

aside h2 { margin-top: 10px; }
.primary article aside h2 { text-align: center; }
.primary article aside h2.ms-dlg-heading { text-align: left; }

aside h3 { margin: 0; }

.contact b,
.emailContact { display: block; }

.emailContact { margin-bottom: 10px; }

.contact ul li {
  background-image: none;
  list-style: none none;
  padding: 0;
}*/

/* *** Footer *** */
#footer {
  background: #272727;
  padding: 20px 0 30px;
}
#footer nav {

}
#footer ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: auto;
  text-align: right;
}
#footer li {
  display: inline-block;
  line-height: 42px;
  vertical-align: middle;
  margin: 0 15px;
}
#footer li:first-child {
  float: left;
}
#footer a,
#footer a:link,
#footer a:visited {
  color: #e6e6e6;
  display: block;
}

#footer img {
  width: 246px;
  height: auto;
}

#govt {
  display: inline-block;
  width: 136px;
  height: 14px;
  background: url(../images/new-zealand-government.png) no-repeat;
  background-size: 136px 14px;
  text-indent: 999px;
  overflow: hidden;
  vertical-align: middle;
}

/* Article Footer */
.primary footer {
  clear: both;
  padding-top: 50px;
}
ul.meta {
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
  border-top: 1px solid #000;
}
ul.meta li {
  display: inline-block;
  border-right: 1px solid #000;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
}

ul.meta li.floatRight {
  margin-right: 0;
  padding-right: 0;
}
ul.meta + a,
ul.meta + a:link {
  line-height: 1.9;
  margin-top: 30px;
}

article footer a,
article footer a:link,
article footer a:visited {
/*  color: #0167ce;
  display: inline;
  font-weight: normal;
  line-height: 1;
  padding: 0;*/
}


/* *** Global Styles *** */
#s4-bodyContainer .floatLeft { float: left; }
#s4-bodyContainer .floatRight { float: right; }
img.floatLeft { margin: 0 8px 2px 0; }

.alignRight { text-align: right; }
.alignLeft  { text-align: left; }

.clear { clear: both; }

body .primary .noBorder { border-width: 0; }
body .noMargin { margin: 0; }

ul li.last {
  border: none;
  padding-right: 0;
}

/*.inner { padding: 0 10px 10px; }*/

a.disable,
a.disable:link,
a.disable:visited {
  color: #999;
  cursor: default;
}
a.disable:hover ,
a.disable:focus { text-decoration: none; }

.disabletone { color: #999; }

.hidden {
  color: #fff;
  position: absolute;
  margin: -9999px;
}

/* Icons */
.icon {
  /*background: url(../images/icons.png) no-repeat -488px -1000px;*/
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon:hover {
  text-decoration: none;
  opacity: .8;
}
/*#relatedInfo .icon {
  padding-left: 17px;
}

.mostViewed {
  padding-left: 20px;
}

.home {
  background-position: right 5px;
  display: inline-block;
  height: 20px;
  padding: 0 20px 0 0;
}
*/
.home:before {
  content: "\f015";
}
.print:before {
  content: "\f02f";
}
.email:before, .msg:before {
  content: "\f0e0";
}
.alert:before {
  content: "\f017";
}
.searchArticles:before {
  content: "\f002";
}

/*.print, .email, .alert, .rate, .searchArticles {
  background-position: -422px -35px;
  display: block;
  height: 15px;
  padding: 5px 11px 0;
}
.email { background-position: -450px -35px; }
.alert { background-position: -480px -35px; }
.searchArticles { background-position: -480px -100px }*/
.rate {
  background: url(../images/icons.png) no-repeat right -65px;
  display: block;
  height: 15px;
  padding: 5px 50px 0;
}

.people {
/*  background-position: 0 0;
  padding-left: 35px;*/
}
.people:before {
  content: "\f2b9";
}
.edit {
/*  background-position: right -398px;
  padding-right: 25px;*/
  cursor: pointer;
}
.edit:before {
  content: "\f14b";
  color: rgba(0,0,0,.38);
}

.flag {
  /*background-position: 0 -200px;*/
  clear: right;
  float: left;
  padding-left: 25px;
  max-width: 130px;
}
.flag:before {
  content: "\f024";
}
.info {
  background: url(../images/icons.png) no-repeat right -1430px;
  padding: 2px 25px 2px 0;
}
.info:before {
  content: "\f0c6";/* info f05a; paperclip f0c6 */
}

/*#relatedInfo .library {
  background-image: none;
  padding-left: 0;
}

.externalLink { background-position:  -487px -901px; }
.parliament { background-position: -1px -950px; }

.pdf { background-position: -489px -950px; }
.obr { background-position: -488px -1000px; }
.xls, .xlsx, .csv { background-position: 0 -900px; }
.ppt, .pptx { background-position: -488px -1300px; }
.doc, .docx{ background-position: 0 -1000px; }
.jpg, .gif, .png { background-position: -487px -1079px; }
.obj {
  background: url(../images/icons.png) no-repeat -489px -1634px;
  padding: 2px 0 2px 17px;
}*/

.txt:before {
  content: "\f0f6";
}
.externalLink:before {
  content: "\f08e";
}
.pdf:before {
  content: "\f1c1";
  color: #bc1902;
}
.obr:before {
  content: "\f08e";
}
.xls:before, .xlsx:before, .csv:before {
  content: "\f1c3";
}
.ppt:before, .pptx:before {
  content: "\f1c4";
}
.doc:before, .docx:before, .dot:before, .dotx:before {
  content: "\f1c2";
  color: #3497e4;
}
.jpg:before, .gif:before, .png:before {
  content: "\f1c5";
}
.obj:before {
  content: "\f08e";
}


/* *** Section Listings *** */
ul.listing,
.primary .listing li {
  background-image: none;
  clear: both;
  margin: 0;
  padding: 0;
}

.listing a {
  border: 1px solid #fff;
  float: left;
  padding: 10px;
  position: relative;
  text-decoration: none;
  width: 743px;
}
.listing a:hover {
  background-color: #dbe6de;
  border: 1px solid #004d38;
}

.listing img {
  float: left;
  margin-right: 10px;
}

.listing h3 {
  margin: 0;
  width: 590px;
}

.listing p {
  color: #000;
  margin: 0;
}
.listing .date {
  position: absolute;
  right: 10px;
  top: 10px;
}


/* Buttons */
.container button, .button, .button:link, .button:visited,
/*.container input[type="submit"],*/
h2.ms-displayInline a.ms-srchnav-link-selected  {
  background: #78aea1;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

.container button:hover, .button:hover,
/*.container input[type="submit"]:hover,*/
h2.ms-displayInline a.ms-srchnav-link-selected:hover {
  background: #082f21;
  color: #fff;
  text-decoration: none;
}
/*.container button,
.container input[type="submit"] {
  height: 24px;
  margin-left: 1px;
  overflow: visible;
  padding: 0 6px 2px;
}
.button,
h2.ms-displayInline a.ms-srchnav-link-selected  { padding: 5px 10px; }

article a.button { padding: 4px 10px 6px; }


.red-button {
  background: linear-gradient(0deg, #330208, #BD1443) !important;
}

.red-button:hover {
  background: linear-gradient(0deg, #BD1443, #330208) !important;
}*/

/* Back to Top Link */
.backTop {
  clear: both;
  text-align: right;
}

/* Corneres and Gradients *
.roundedCorner {
  border: 1px solid #a7a7a7;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  clear: both;
}
.roundedHalfC {
  background-color: #f3faf6;
  border: 1px solid #a7a7a7;
  border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-width: 1px 1px 0 1px;
  height: 21px;
  padding: 3px;
}
.roundedCornerShadow {
  background-color: #fff;
  border: 1px solid #a7a7a7;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  box-shadow: #666 0 2px 5px;
  -webkit-box-shadow: #666 0 2px 5px;
  -moz-box-shadow: #666 0 2px 5px;
  margin-bottom: 15px;
  padding: 8px;
}
.narrowRoundedCShadow {
  background-color: #d1e9da;
  border: 1px solid #cacaca;
  border-bottom-color: #004d38;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  box-shadow: #999 0 2px 2px;
  -webkit-box-shadow: #999 0 2px 2px;
  -moz-box-shadow: #999 0 2px 2px;
  float: left;
  margin-right: 0;
  padding: 0;
  position: static;
  width: 181px;
}
.gradientHalfC {
  border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  background: #78aea1;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#78aea1), to(#082f21));
  background: -webkit-linear-gradient(#78aea1, #082f21);
  background: -moz-linear-gradient(#78aea1, #082f21);
  background: -ms-linear-gradient(#78aea1, #082f21);
  background: -o-linear-gradient(#78aea1, #082f21);
  background: linear-gradient(#78aea1, #082f21);
  -pie-background: linear-gradient(#78aea1, #082f21);
  height: 19px;
  padding: 4px;
}*/

.requiredfield .ms-formfieldlabel:after {
  content: " *";
  font-weight: bold;
  color: #bf0000;
}

/*  Meta Data Pop Up (Heading is still govern by overall page) */
h1.ms-dlgTitleText.ms-accentText.ms-dlg-heading {
  font-size: 2em;
}

.ms-dlgTitle {
  padding-bottom: 0px;
}

#personal-contact-dialog {
  display:none !important;
}
#personal-contact-dialog + .ui-dialog-buttonpane {
  border: 0 !important;
  float: left;
  margin-left: 2.5em;
}

/* Modal dialog */
#simplemodal-overlay {
  background: rgba(0,0,0,.5);
  opacity: 1;
}
#simplemodal-container {
  background: #fff;
  padding: 20px 30px 30px;
  width: 600px;
  min-height: 300px;
  height: auto !important;
  box-shadow: 4px 4px 5px #aaa, -1px -1px 1px #eee; 
}

/* Sortable lists */
.userDialog {
  display: none;
}
.userDialog h2 {
  margin: 0 0 20px;
}
.userDialog .message {
  font-weight: bold;
}
.userDialog ul {
  list-style: none;
  padding: 0;
  margin: 1em 0 0;
}
.userDialog li {
  padding: 0 15px;
  margin: .5em 0 0;
  position: relative;
}
.userDialog li:before {
  list-style: none;
  display: inline-block;
  font: normal normal normal 14px/1.5 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  content: '\f047';
  cursor: pointer;
}
.userDialog .fa-close {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
  cursor: pointer;
  color: #bc1902;
}
.userDialog .ui-sortable-handle:before {
  
}
.userDialog input[type="text"] {
  width: 49%;
  margin: 0 0 0 1%;
  padding: 5px 10px;
}
.userDialog .add {
  
}
.userDialog input[type=button] {
  font-weight: bold;
  line-height: 1.25;
  text-transform: uppercase;
  color: #000;
  width: 100px;
  padding: 10px 20px;
  border: solid 3px #000;
  margin: 30px 0 0;
  cursor: pointer;
}
.userDialog input.dialogClose {
  float: right;
}
.userDialog input.dialogSubmit {
  background: #666;
  color: #fff;
  border-color: #666;
  float: right;
  width: auto;
  margin-left: 10px;
}


.ms-signInLink {
  display: none !important;
}
#ID_AboutMe {
  display: none !important;
}
.DocCenterRightPanel {
  vertical-align: top;
}
#dataTable_wrapper tfoot {
  display: table-header-group;
}
#dataTable_wrapper tfoot th {
  padding: 0px;
}
#dataTable_wrapper tfoot span {
  display: block;
  padding: 0 2px 4px;
}
#dataTable_wrapper tfoot span input {
  padding: 4px 7px;
}
#dataTable_wrapper input::-ms-clear {
  display: none;
}
/*#dataTable_wrapper b, td, th{
  font-size: 11px;
}*/

.edit-mode-panel .cbs-List li {
  display: block;
}
.edit-mode-panel .cbs-List li div{
  padding-bottom: 7px;
  width: 180px;
}
.ms-srch-item-highlightedText {
  background-color:yellow !important;
}