/* ******* STYLESHEET DETAILS ********************
Date Created:   03-Oct-2012;
Last Updated:   27-May-2014;
Owner:          Parliamentary Service;
Project:        Intranet Redevelopment;
Author:         Datacom Wellington;
Comment:        News layouts;
************************************************** */

#recent {
  clear: both;
  background: #ebebeb;
  margin: 0;
}
.recent h2 {
  margin-bottom: 20px;
}
.recent ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.recent li {
  margin: 0 0 30px;
}
.recent a {
  display: block;
  color: #000;
}
.recent img {
  float: left;
  width: 140px;
  height: auto;
}
.recent .inner {
  background: transparent;
  padding: 0;
  margin-left: 160px;
}
.recent h3 {
  font-size: 1.71428571428571em; /* 24 */
  color: #157a6b;
  margin: 0 0 20px;
}
.recent p {
  margin: 1em 0 0;
}
/*.recent a:hover {
  text-decoration: none;
  background: #157a6b;
  color: #fff;
}*/
.recent a:hover h3 {
  text-decoration: underline;
}

.recent .meta {
    margin: 1em 0;
    padding-left: 10px;
    border-left: solid 5px #2ebcc5;
}
.recent a:hover .category {
  color: #000;
  border-right-color: #000;
}