/* responsive images */
.img-responsive {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* For use with divs that have responsive background images */
.responsive-4-3,
.responsive-16-9 {
  height: 0;
  padding-bottom: 75%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.responsive-16-9 {
  padding-bottom: 56%;
}

@media screen and (min-width: 320px) {

}
@media screen and (min-width: 560px) {
  img.left {
    float: left;
    width: auto;
  }
  img.right {
    float: right;
    width: auto;
  }
}

@media screen and (min-width: 768px) {

  .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
    display: inline;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .alpha {
    padding-left: 0;
  }
  .omega {
    padding-right: 0;
  }
  .container .grid_6 {
    width: 50%;
  }
  .container .grid_4 {
    width: 33.33%;
  }
  .container .grid_3 {
    width: 25%;
  }
  .container .grid_9 {
    width: 75%;
  }
  .container .container {
    margin: 0 -15px;
    padding: 0;
  }

  body.sidebar-first #content {
    width: 75%;
    margin-left: 25%;
    padding-left: 100px;
    padding-right: 0;
  }
  #sidebar-first {
    margin-top: 0;
    margin-left: -100%;
    padding-left: 0;
  }
  body.sidebar-second #content {
    width: 75%;
    padding-right: 100px;
  }

  input[type="text"], input[type="email"], input[type="password"], input[type="number"], select, textarea {
    width: 100%;
  }

  #logo {
    float: left;
    width: 327px;
    height: 73px;
    background-size: 327px;
    margin-bottom: 20px;
  }

  #title-region {
    padding: 50px 0;
  }

}
@media screen and (min-width: 1024px) {

  /* Structure */
  #main {
    padding: 70px 15px 50px;
    position: relative;
  }
  #main > div.primary {
    padding: 0 30px;
  }

  /* sticky header */
  .scroll .altNav {
    background: #000;
    background: #3a3a3a url(../images/bg-header.jpg) 50% 0 no-repeat;
    background-size: 100%;
  }
  .fixed .altNav {
    left: 310px; /* 120 + 190 */
  }
  .fixed .logo img {
    height: 70px;
  }
  .fixed #toggle {
    height: 70px;
    line-height: 70px;
  }

  .fixed #slideout {
    padding-top: 70px;
  }

}

@media screen and (min-width: 1280px) {

  /* menu widgets */
  #menu .search,
  #menu .find-people,
  #menu #tools {
    width: 50%;
  }

  /* dropdown */
  .mainNav {
    width: 50%;
    font-size: 24px;
  }
  .mainNav ul.root > li {
    position: static;
    text-align: right;
  }
  .mainNav ul.root > li > a {
    font-size: 1em; /* 24 */
  }
  .mainNav ul.root > li.open > a {
    background: #ccc !important;
    color: #000 !important;
  }
  .mainNav ul.root > li > a span {
    display: inline-block;
  }
  .mainNav ul.root > li > a .menu-item-text {
    font-size: 1.5em; /* 36 */
  }
  .mainNav span.translation {
    font-size: 1em; /* 24 */
  }
  .mainNav ul.root > li > a:hover {
    background: #ccc !important;
    color: #000;
  }
  .mainNav ul.root > li > a:hover .menu-item-text {
    color: #000;
  }
  .mainNav .fa {
    position: relative;
  }
  .mainNav .fa-plus-circle:before {
    content: "\f0a9";
  }
  .mainNav .fa-minus-circle:before,
  .mainNav ul.root > li > a:hover .fa {
    content: "";
  }

  .mainNav ul.root > li.open > a .menu-item-text:after {
    content: "";
  }
  .mainNav ul.root > li > a .menu-item-text:after {
    content: "\f0a9";
  }

  .mainNav ul.dynamic {
    width: 50% !important;
    top: 120px !important;
    left: 50% !important;
    position: absolute;
    text-align: left;
  }
  .fixed .mainNav ul.dynamic {
    top: 70px !important;
  }
  .mainNav li.open ul.dynamic {
    display: block !important;
  }

  .mainNav ul.dynamic li {
    font-size: 1em; /* 24 */
  }
}

@media screen and (min-width: 1440px) {

}

@media screen and (min-width: 1600px) {

}

/**
 * OLD STYLE
 * - reverse enhancement
 */
@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1279px) {

  body {
    padding-left: 80px;
  }
  #menu {
    width: 80px;
  }
  #toggle {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
  }
  #slideout {
    padding-top: 80px;
  }
  .nav-open #slideout {
    left: 80px !important;
  }
  .logo {
    left: 80px;
  }
  .logo img {
    height: 80px;
  }
  .altNav {
    left: 297px;
  }
  .fixed .altNav {
    left: 270px;
  }

  /* Header */
  #header h1 {
    font-size: 2.5em;
    padding: 15px;
  }

  /* Structure */
  #main > div.primary {
    padding: 0 15px;
  }
  aside .widget {
    margin-bottom: 30px;
  }

  /* Grids */
  .grid {
    border-spacing: 15px;
    margin: 0 -15px;
  }
  .block .inner {
    padding: 15px;
  }
  .block h2 {
    font-size: 16px;
  }
  .block .edit, .block .fa-edit {
    top: 15px;
    right: 15px;
  }

  /* Widgets */
  .widget h2 {
    font-size: 1.5em;
    margin: 0 0 10px;
  }
  .links {
    padding: 15px;
  }
  .links ul {
    font-size: 1em;
  }
  aside .promo .content {
    padding: 15px;
  }
  aside .faqs {
    padding: 15px;
  }
  .grid .widget.promo > a {
    padding: 15px;
  }
  .widget.poll {
    padding: 15px 15px 60px;
  }
  .poll input[type="submit"], .poll input[type="button"] {
    bottom: 15px;
    right: 15px;
  }
  .widget.documents {
    padding: 15px;
  }
  #did-you-know .content {
    width: 100%;
    padding: 15px 30px;
    margin: 0;
  }
  #did-you-know .image {
    width: 100%;
    margin: 0;
  }
  /* Find a Person */
  .find-people {
    padding: 15px 15px 67px;
  }
  .find-people input[type="submit"] {
    bottom: 15px;
    right: 15px;
  }
  /* Content */
  blockquote {
    font-size: 1.5em;
    min-height: 60px;
    padding-left: 75px;
  }
  blockquote:before {
    font-size: 60px;
  }
  /* News */
  #recent .recent li {
    margin-top: 15px;
  }
  #recent .recent img {
    width: 25%;
  }
  #recent .recent .inner {
    margin-left: 30%;
  }
  #event-grid .block {
    margin: 15px 0;
  }
  /* Back to Top Link */
  .backTop {
    padding-right: 0;
  }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1023px) {

  .subNav, .breadcrumb, .altNav nav {
    display: none;
  }

  .fixed .altNav {
    left: 0;
  }

  body {
    padding: 0;
  }
  #s4-workspace {
    position: static;
  }
  #menu {
    position: absolute;
    width: 80px;
    height: auto;
    top: 30px;
    background: transparent;
  }
  /*  #toggle {
      width: 80px;
      height: 80px;
      line-height: 80px;
      font-size: 40px;
    }*/
  .toggles {
    background: #292929;
    position: relative;
    left: -100%;
  }
  .nav-open .toggles {
    left: 0;
  }
  /*  #slideout {
      padding-top: 80px;
    }
    .nav-open #slideout {
      left: 80px !important;
    }*/
  #menu .find-people {
    height: auto;
  }

  /* Header */
  #s4-ribbonrow, #notificationArea, #DeltaPageStatusBar {
    display: none !important;
  }
  .altNav {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: #292929;
  }
  .logo {
    position: absolute;
    top: 30px;
    /*left: 80px;*/
  }
  .logo img {
    /*height: 80px;*/
  }

  #header {
    padding: 80px 15px 0;
    background-position: 50% 50%;
  }
  .PSHomePageLayout #header {
    height: 0 !important;
  }
  #header .container {
    min-height: 0;
  }
  #header h1 {
    position: relative;
    left: 0;
    padding: 15px 0;
  }

  /* Structure */
  #main div.primary {
    float: none;
    width: 100%;
  }
  #main > div.primary {
    padding: 0;
    margin: 0 0 15px;
  }
  #main .primary.narrow {
    padding-right: 0;
    margin-bottom: 0;
  }
  aside {
    float: none;
    width: 100%;
  }
  aside .widget {
    margin: 15px 0;
  }

  .hero,
  .PSEventPageLayout .hero,
  .PSEventsLandingPageLayout .hero,
  .PSNewsContentPageLayout .hero,
  .PSNewsListingPageLayout .hero,
  .PSSectionLandingPageLayout .hero {
    margin: 0 -15px 20px;
  }

  /* Grids */
  .grid, .grid .row, .grid .block {
    display: block;
  }
  .grid {
    margin: 0;
  }
  .grid .block {
    width: 100%;
    margin-bottom: 15px;
  }

  /* Widgets */
  #carousel {
    padding-bottom: 30px;
  }
  #carousel .slide-image h2, #carousel .slide-video h2 {
    padding: 15px;
  }
  #carousel p {
    margin: 15px 15px 0;
  }
  /* News */
  #recent {
    padding: 15px;
  }

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 767px) and (orientation : portrait) {

}

@media screen and (max-width: 767px) {

}