/* responsive images */
.img-responsive {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* For use with divs that have responsive background images */
.responsive-4-3,
.responsive-16-9 {
  height: 0;
  padding-bottom: 75%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.responsive-16-9 {
  padding-bottom: 56%;
}

@media screen and (min-width: 320px) {

}
@media screen and (min-width: 560px) {
  img.left {
    float: left;
    width: auto;
  }
  img.right {
    float: right;
    width: auto;
  }
}

@media screen and (min-width: 768px) {

  .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
    display: inline;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .alpha {
    padding-left: 0;
  }
  .omega {
    padding-right: 0;
  }
  .container .grid_6 {
    width: 50%;
  }
  .container .grid_4 {
    width: 33.33%;
  }
  .container .grid_3 {
    width: 25%;
  }
  .container .grid_9 {
    width: 75%;
  }
  .container .container {
    margin: 0 -15px;
    padding: 0;
  }

  body.sidebar-first #content {
    width: 75%;
    margin-left: 25%;
    padding-left: 100px;
    padding-right: 0;
  }
  #sidebar-first {
    margin-top: 0;
    margin-left: -100%;
    padding-left: 0;
  }
  body.sidebar-second #content {
    width: 75%;
    padding-right: 100px;
  }

  input[type="text"], input[type="email"], input[type="password"], input[type="number"], select, textarea {
    width: 100%;
  }

  #logo {
    float: left;
    width: 327px;
    height: 73px;
    background-size: 327px;
    margin-bottom: 20px;
  }

  #title-region {
    padding: 50px 0;
  }

}
@media screen and (min-width: 1024px) {

  #toggle {
    /*display: none;*/
  }
  
  #main {
    padding: 70px 15px 50px;
    position: relative;
  }
  #main > div.primary {
    padding: 0 30px;
  /*  margin-top: 70px;
    margin-bottom: 20px;*/
  }
  
  /* sticky header */
  .scroll .altNav {
    background: #000;
    background: #3a3a3a url(../images/bg-header.jpg) 50% 0 no-repeat;
    background-size: 100%;
  }
  .fixed .altNav {
    left: 310px; /* 120 + 190 */
  }
  .fixed .logo img {
    height: 70px;
  }
  .fixed #toggle {
    height: 70px;
    line-height: 70px;
  }
  
  .fixed #slideout {
    padding-top: 70px;
  }

}

@media screen and (min-width: 1280px) {
  
  /* menu widgets */
  #menu .search,
  #menu .find-people,
  #menu #tools {
    width: 50%;
  }
  
  /* dropdown */
  .mainNav {
    width: 50%;
    font-size: 24px;
  }
  .mainNav ul.root > li {
    position: static;
    text-align: right;
  }
  .mainNav ul.root > li > a {
    font-size: 1em; /* 24 */
  }
  .mainNav ul.root > li.open > a {
    background: #ccc !important;
    color: #000 !important;
  }
  .mainNav ul.root > li > a span {
    display: inline-block;
  }
  .mainNav ul.root > li > a .menu-item-text {
    font-size: 1.5em; /* 36 */
  }
  .mainNav span.translation {
    font-size: 1em; /* 24 */
  }
  .mainNav ul.root > li > a:hover {
    background: #ccc !important;
    color: #000;
  }
  .mainNav ul.root > li > a:hover .menu-item-text {
    color: #000;
  }
  .mainNav .fa {
    position: relative;
  }
  .mainNav .fa-plus-circle:before {
    content: "\f0a9";
  }
  .mainNav .fa-minus-circle:before,
  .mainNav ul.root > li > a:hover .fa {
    content: "";
  }
  
  .mainNav ul.root > li.open > a .menu-item-text:after {
    content: "";
  }
  .mainNav ul.root > li > a .menu-item-text:after {
    content: "\f0a9";
  }
  
  .mainNav ul.dynamic {
    width: 50% !important;
    top: 120px !important;
    left: 50% !important;
    position: absolute;
    text-align: left;
  }
  .fixed .mainNav ul.dynamic {
    top: 70px !important;
  }
  .mainNav li.open ul.dynamic {
    display: block !important;
  }
  
  .mainNav ul.dynamic li {
    font-size: 1em; /* 24 */
  }
}

@media screen and (min-width: 1440px) {

}

@media screen and (min-width: 1600px) {

}

/**
 * OLD STYLE
 * - reverse enhancement
 */
@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1023px) {

/*  .slideout {
    width: 300px;
    height: 100%;
    padding: 0 15px;
    background: #262262;
    position: fixed;
    top: 0;
    left: -310px;
    overflow-y: auto;
    z-index: 29;
    transition: .1s;

    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
  }
  .nav-open .slideout {
    left: 0;
  }
  .slideout {
    padding-top: 54px;
  }
  .slideout .search input[type="search"] {
    width: 234px;
  }

  #nav {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    position: fixed;
    top: 0;
    left: -110%;
    overflow-y: auto;
    z-index: 29;
    transition: .1s;

    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
  }
  .nav-open #nav {
    left: 0;
    right: 50px;
    width: auto;
  }

  #nav > ul > li > a {
    padding: 15px;
  }
  #nav > ul > li > a.parent {
    padding-right: 40px;
  }
  #nav > ul > li > a > span {
    position: absolute;
    top: 15px;
    right: 15px;
    display: inline-block;
    width: 20px;
    background: rgba(255,255,255,.5);
    color: #262262;
    text-align: center;
    border-radius: 10px;
  }
  #nav > ul > li > a > span.fa-caret-down {
    padding: 2px 0;
  }
  #nav > ul > li > a > span.fa-caret-up {
    padding: 0 0 4px;
  }
  #nav ul ul {
    display: none;
  }*/
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 767px) and (orientation : portrait) {

}

@media screen and (max-width: 767px) {
  
}