/* ******* STYLESHEET DETAILS ********************
Date Created:   23-Oct-2012;
Last Updated:   17-May-2017;
Owner:          Parliamentary Service;
Project:        Intranet Redevelopment;
Author:         Pikselin;
Comment:        For Section Landing (incl. News And Events Landing Page), Section Overview, Section Listings Templates;
************************************************** */

.primary header h1 {

}

.row { 
	clear: both; 
	float: left;
	width: 100%; 
}

/* Blocks */ 
.block {
	float: left;
	padding: 0 30px 30px 0;
	width: 33.33%;
	box-sizing: border-box;
}

.block .inner { 
	background: #ebebeb;
}

.block img {
	display: block;
	width: 100%;
	height: auto;
}

.block h2 {
	font-size: 2em;
	line-height: 1.25;
  	margin: 0;
}

/*.block h2:after {
	color: #333;
	content:"\00a0\00bb"; 
}

.block h2 a,
.block h2 a:link,
.block h2 a:visited { 
	color: #004d38;
	line-height: 20px; 
}

.block h3,
.block p  { margin: 0; }

	.block .inner img + h3 + p {
		float: right;
		width: 240px;
	}

.block img + h3 {
	float: left;
	width: 240px;
}

.block h3 a { line-height: 1; }

.block .more { 
	border-top: 1px solid #a5baad; 
	clear: both; 
}
.block .more .inner { border: 0; }

.block .more ul {
	float: left;
	width: 170px; 
}
.block .more ul + ul {
	border-left: 1px dashed #a5baad;
	padding-left: 10px;
	width: 158px;
}

.block .alignRight {
	background-image: none;
	font-weight: bold;
}*/

/* Blocks - Wide (Section Overview) *
.block.wide {
	margin-right: 0;
	width: 777px;
}

.block.wide .box { 
	border-top: 0;
	margin-bottom: 10px; 
}

.block.wide .box h2 {
	border-top: 0;
	margin-bottom: 1px;
	padding: 5px;
}

.block.wide .inner {
	border: 0;
	border-right: 1px dashed #a5baad; 
	float: left;
	padding-right: 20px;
	width: 360px; 
}

	.block.wide .inner img + h3 + p { width: 255px; }

	.block.wide .alignRight { clear: both; }

.block.wide .more { 
	clear: none;
	border-top: 0; 
	float: left;
}
.block.wide .more .inner,
.block.wide .inner.more { border: 0; }

.block.wide ul { 
	margin: 0 0 0 20px;
	width: 100%; 
}*/
